

#main-content {
    width: 60%;
    margin: auto;
    font-family: sans-serif;
}
/* 
.main-expr {
    border: 1px solid black;
    background: #eeeeee;
} */

.copy-container {
    background: #eeeeee;
    padding: 10px;
    display: inline-block;
}

.copy-container > button {
    height: 100%;
    padding: 15px;
    background-color: rgb(124, 217, 124);
    cursor: pointer;
    border: none;
}

td > * {
    margin-right: 25px;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

th {
    text-align: left;
}

tr:nth-child(2n + 1) {
    background-color:rgb(221, 247, 221);
} 