:root {
  font-family: sans-serif;
  --border: #888888;
  --background: white;
  --foreground: black;
  --button: #eeeeee;
  --link: #557898;
  --link-visited: #55316d;
}
body.dark {
  --border: #555555;
  --background: #121212;
  --foreground: white;
  --button: #333333;
  --link: #84bdeb;
  --link-visited: #c7b4df;
}
a {
  color: var(--link);
}
a:visited {
  color: var(--link-visited);
}
body {
  color: var(--foreground);
  background: var(--background);
  padding: 0;
  margin: 0;
}
header {
  border-bottom: 1px solid var(--border);
  margin: 0;
  padding: 10px;
  padding-left: 30px;
}
.unofficial {
  font-size: 50%;
}
main {
  margin: auto;
  width: calc(min(60em, 90%));
}
main h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
}
.desmos-container,
.eleventy-desmos-dcg-container {
  width: 100%;
  height: 60vh;
}
.big-desmos .eleventy-desmos-dcg-container {
  height: 95vh;
}
.breadcrumbs ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs li:nth-child(n + 2):before {
  content: "▸";
}
.tags {
  list-style: none;
  display: flex;
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
  padding-inline-start: 0;
}
.tags .tag {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--border);
  margin-right: 10px;
  background-color: var(--button);
}
.tags .tag a {
  text-decoration: none;
  color: var(--foreground);
}
.invisible {
  display: none;
}
.static-math-container .dcg-mq-root-block {
  display: inline !important;
}
.side-by-side {
  display: flex;
}
.side-by-side img {
  margin: 10px;
}
.link-to-header {
  opacity: 0;
  text-decoration: none;
}
h1:hover .link-to-header,
h2:hover .link-to-header,
h3:hover .link-to-header,
h4:hover .link-to-header,
h5:hover .link-to-header,
h6:hover .link-to-header {
  opacity: 0.7;
}
.header-nav {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
  margin-right: 10px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}
.header-nav li {
  text-indent: -1em;
  margin-left: 1em;
}
.header-nav li a {
  margin-bottom: 5px;
  display: block;
}
.header-nav ul {
  list-style: none;
  border-left: 1px solid var(--border);
  padding-inline-start: 10px;
  font-size: 85%;
}
.main-content-side-by-side {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
.header-side-by-side {
  display: flex;
  justify-content: space-between;
}
button {
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--button);
  cursor: pointer;
}
img {
  max-width: 100%;
}
